fastapi==0.95.2
uvicorn==0.22.0
python-telegram-bot==20.3
ccxt==4.1.52
pydantic==1.10.13
aiosqlite==0.18.0
tenacity==8.2.2
pandas==1.5.3
pandas-ta==0.3.14b0
python-dotenv==1.0.1
sqlalchemy==1.4.46
psutil==5.9.8

